@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import "tailwindcss";


::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar in Firefox */
html {
  scrollbar-width: none; /* Firefox */
  overflow-x: hidden; /* Prevent horizontal scroll */
  scroll-behavior: smooth;

}

/* Still allow vertical scrolling but no horizontal scrolling */
body {
  -ms-overflow-style: none; /* IE and Edge */
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden; /* Just in case, apply to body too */
}

.text-gradient {
  background: linear-gradient(120deg, #818cf8, #c084fc, #f472b6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes gradient-border-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient-border {
  background: linear-gradient(
    60deg,
    #34d399, /* Emerald */
    #3b82f6, /* Blue */
    #8b5cf6, /* Violet */
    #ec4899  /* Pink */
  );
  background-size: 400% 400%;
  animation: gradient-border-animation 5s ease infinite;
}
